<div align="center">
	<span ng-if="detailsFetched" ng-hide="infoMsg" class="infoMsg"></span>
	<span ng-if="detailsFetched" ng-hide="infoMsg" style="font-weight:bold;">{{PronounceinfoMsg}}</span><br/>
	<button ng-click="getPreviousDayWordsList()" ng-show="showGetBtn">{{text}}</button><br/>
	<span style="font-weight:bold;">{{infoMsg}}</span>
	<div ng-if="detailsFetched" align="center">
		<input type="checkbox" name="" ng-model="meaning_flg" ng-change="helpEnable()" id="meaning_cbx" /><label>Show Meanings | </label> 
		<input type="checkbox" name="" ng-model="sentence_flg" ng-change="helpEnable()" id="sentence_cbx" /><label>Show Example Sentences</label><br/><br/>
		<ul>
			<li ng-repeat="word in wordsList">
				<ul>
					<li>
						<span class="word" ng-click="speak()" title="click to pronounce">{{word.word}}</span>
						<!-- <span id="pronounce" ng-click="speak()" class="pronounce">🔊</span> -->
					</li>
					<li ng-if="showMeaning">
						<span>{{word.meaning}}</span>
					</li>
					<li ng-if="showSentence">
						<span>{{word.sentence}}</span>
					</li>
				</ul>
				<br/>
			</li>	
		</ul>
	</div>
</div>
