<div>
<span class="pull-left color-white"><a href="#/home">Home</a></span>
<span class="pull-left padding-left-right color-white"><a href="#/report">Review words</a></span>
<span class="pull-left padding-left-right color-white"><a href="#/input">Save word</a></span>
<span class="pull-left padding-left-right color-white"><a href="#/search">Search/Edit word</a></span>
<span class="pull-left padding-left-right color-white"><a href="#/searchByLetter">Search by aplhabet</a></span>
<span class="pull-right padding-left-right color-white">Welcome : {{user_FirstName}}</span>
<span class="pull-right color-white"><a href="#/logout" ng-click="logout()">Logout</a></span>
</div>